@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .p-safe-x {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .p-safe-y {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .p-safe-b {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer components {
  .subtitle {
    @apply content box-border w-full select-none text-balance text-start -indent-1 text-7xl font-bold capitalize leading-none tracking-tight text-textSecondary;
  }

  .title-3 {
    @apply my-2 font-sans text-2xl font-semibold capitalize leading-none text-textTertiary;
  }

  .title-4 {
    @apply mb-2 text-sm font-semibold text-neutral-100;
  }

  section {
    @apply flex h-auto w-full flex-col items-center justify-start gap-8 overflow-x-hidden bg-backgroundPrimary py-24;
  }

  .fade {
    @apply animate-fade animate-duration-[1500ms] animate-fill-backwards animate-ease-in-out;
  }

  .fade-up {
    @apply animate-fade-up animate-duration-1000 animate-fill-both animate-ease-in-out;
  }

  .fade-left {
    @apply animate-fade-left animate-duration-1000 animate-fill-backwards animate-ease-in-out;
  }
  .fade-right {
    @apply animate-fade-right animate-duration-1000 animate-fill-backwards animate-ease-in-out;
  }

  .content {
    @apply container px-5 sm:px-12 md:px-8 xl:px-12;
  }

  .text-block {
    @apply w-full text-justify text-base font-normal leading-7 text-textTertiary;
  }

  .text-info {
    @apply text-wrap break-words text-left text-base font-medium leading-6 tracking-wide text-textTertiary;
  }

  .text-infoCard {
    @apply text-info -my-1;
  }

  .text-infoStrong {
    @apply text-base font-bold text-textTertiary;
  }

  .text-infoDate {
    @apply block font-sans text-xs font-normal capitalize italic leading-6 text-textTertiary;
  }

  .article-content {
    @apply px-6 pt-6 font-sans;
  }

  .button-social {
    @apply inline-flex items-center gap-2 px-4 py-2 opacity-75 transition-opacity duration-200 hover:opacity-100;
  }

  .button-socialText {
    @apply text-sm font-semibold not-italic leading-none tracking-wide text-textTertiary;
  }

  .link {
    @apply text-start text-sm;
  }
}

@layer base {
  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply font-sans;
  }

  * {
    @apply select-none;
  }

  h3,
  h4,
  p,
  strong,
  #projects span,
  #info span {
    @apply select-text;
  }

  .img-crisp-edges {
    image-rendering: crisp-edges;
  }
}
